__pycache__
.idea
.cache
.*log
*.pyc
*.pyo
*.pyd
*.yml
*.json
*.csv
*.tsv
*.pt
*.pth
*.onnx
*.vocab
*.bin
*.ckpt
*.zip
*.tar.gz
*.tar
*.model
*.ipynb_checkpoints
*.ipynb
wandb
dist
*.egg-info
build
*.egg
*.whl
*.egg-info
*.egg
*.whl
*.tar
corpus
.pytest_cache
trainer_config.yaml
model_config.yaml