__pycache__
.idea
.cache
.*log
*.pyc
*.pyo
*.pyd
*.yml
*.yaml
*.json
*.csv
*.tsv
*.pt
*.pth
*.onnx
*.vocab
*.bin
*.ckpt
*.zip
*.tar.gz
*.tar
*.txt
*.model
*.ipynb_checkpoints
*.ipynb
wandb
tests
dist
*.egg-info
build
*.egg
*.whl
*.egg-info
*.egg
*.whl
*.tar
